<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Selection</title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang</h1>
        <p>Silakan pilih login sebagai Admin atau User</p>
        <div class="button-container">
            <button class="user-button" onclick="location.href='/login'">Admin</button>
            <button class="admin-button" onclick="location.href='/login-admin'">User</button>
            <!-- <button class="admin-button" onclick="location.href='/login-admin'">Admin</button>
            <button class="user-button" onclick="location.href='/login'">User</button> -->
        </div>
    </div>
</body>
</html>